# If anything in the `vulnerable-app/` folder changes, 
# automatically request a review from alice and the security-team

*    @alice-dev @my-org/security-team   @Jain9384

# For any change to CI workflows, request a review from bcarlos:
/.github/workflows/* @bcarlos
